@import "~styles/colors";

.weatherMapScreenContainer {
  flex: 1;
}

.loadingContainer {
  margin-top: 15px;
}

.clouds,
.precipitation {
  font-weight: bold;
}

.clouds {
  color: $cloudsColor;
}

.precipitation {
  color: $precipitationColor;
}
