@import "~bootstrap/scss/functions";
@import "~styles/colors";

$primary: $primaryColor;

$body-bg: $greyShade3;

$theme-colors: (
  "primary": $primary,
  "secondary": $greyShade4,
  "success": green,
  "danger": red,
);

.dropdown-menu.show {
  right: 0;
  padding: 0;
  overflow: hidden;
}

.dropdown-menu .dropdown-item {
  padding: 0.5rem 1rem;
}

body {
  min-height: 100vh;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@import "~bootstrap/scss/variables";

@import "~bootstrap/scss/bootstrap";
