@import "~styles/colors";

.panelBody {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  > div {
    display: flex;
    flex-direction: column;

    >  div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.mainValue {
  > div {
    flex-direction: column;
  }
}

.columnLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.temp {
  font-size: 25px;
}

.tempApparent,
.precipitaion {
  font-size: 13px;
  color: $greyShade2;
  text-align: center;
}

.humidity {
  font-size: 25px;
}

.columnRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
